<div>
  <h1>Custom fields</h1>
</div>

<%= link_to(new_admin_custom_field_path) do %>
  <button class="btn info">+ Add new custom field</button>
<% end %>

<br />
<br />

<table class="zebra-striped">
  <tbody>
    <% @custom_fields.each do |custom_field| %>
      <tr>
        <td><%= custom_field.name %></td>
        <td><%= custom_field.field_type %></td>
        <td><%= link_to 'edit', edit_admin_custom_field_path(custom_field) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

