<% page_title "edit #{@product.name}" %>

<div class='page-header'>
  <h1 style='float:left;'><%= t(:edit_product) %></h1>
  <div style='clear:both;'></div>
</div>

<%= render 'form' %>

<% if @product_groups.any? %>
  <div>
    <p> This product belongs to following product groups: </p>
    <ul>
      <% @product_groups.each do |pg| %>
        <li>
          <h3>
            <%= pg.name %>
            <small>
              <%= pg.summarize %>
            </small>
          </h3>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
