<div class="hero-unit">
  <h1><%= t(:welcome_admin) %></h1>
  <p></p>
  <p> Here are links to some resources you might find helpful.  </p>
  <p><%= link_to 'Documentation', '' %></p>
  <p><%= link_to 'Forum', '' %></p>
  <p><%= link_to 'Issues', '' %></p>
</div>
