<div class='well'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan='5'>

          <div class='link_group_name'>
            <h3><%= shipping_zone.name %></h3>
          </div>

          <div class='link_group_edit'>
            <%= link_to [:admin, shipping_zone], data: { confirm: t(:delete_confirmation_for_shipping_zone) }, method: 'delete', class: 'delete', title: 'Delete' do %>
              <i class='icon-remove icon-white'></i>
            <% end %>
          </div>

          <div style='float:right'>
            <%= link_to new_admin_shipping_zone_shipping_method_path(shipping_zone), class: 'btn btn-success' do %>
              <i class='icon-plus'></i> Add new shipping method
            <% end %>
          </div>

          <div style='clear:both;'></div>

        </th>
      </tr>

      <% if shipping_zone.shipping_methods.any? %>
        <tr>
          <th> Shipping method name </th>
          <th> Condition </th>
          <th> Shipping price </th>
          <th> &nbsp;</th>
          <th> &nbsp;</th>
        </tr>
      <% end %>

    </thead>
    <tbody>
      <% shipping_zone.shipping_methods.each do |shipping_method| %>
        <%= render 'shipping_method', shipping_method: shipping_method %>
      <% end %>
    </tbody>
  </table>
</div>

<br />
