.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
vendor/ruby
guides/output
public/assets
public/uploads
db/test.sqlite3-journal
coverage/
tags
/.idea/
config/.tunnel
config/push2heroku.yml
config/database.yml
doc/output
