<div class='payment-method-engine-well'>

  <div>
    <h2>Stripe</h2>
    <div class="edit_link">
      <%= link_to 'Edit', '#', class: 'nimbleshop-payment-method-edit', id: 'nimbleshop-stripe-payment-method-edit' %>
      <%= link_to nimbleshop_stripe.stripe_path, class: 'nimbleshop-payment-method-delete',
                                  confirm: 'Do you really want to delete Stripe payment method', method: :delete, remote: true do %>
          <i class='icon-remove icon-white'></i>
      <% end %>
    </div>


    <div class='clear'></div>
  </div>

  <%= render partial: '/nimbleshop_stripe/stripes/form' %>
</div>

<script>
  $(function(){

    $('#nimbleshop-stripe-payment-method-edit').toggle(function(){
      $('#nimbleshop-stripe-form-well').show();
    }, function(){
      $('#nimbleshop-stripe-form-well').hide();
    });

  })
</script>
