<% if false && @no_top_bar %>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <ul class="nav">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul class="nav secondary-nav">
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to @shop.name, root_path, class: 'brand' %>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%= link_to 'Home', root_path %></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class='navbar-text pull-right'>
              <a href="/cart">View cart ( <%= items_count_in_cart %> )</a>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

