<% page_title 'shipping zones' %>

<div>
  <h1 class='ns-page-title'><%= t(:shipping_zones) %></h1>

  <%= link_to(new_admin_shipping_zone_path, class: 'btn btn-success new-action', id: 'add_new_shipping_zone') do %>
    <i class="icon-plus"></i> <%= t(:add_new_shipping_zone) %>
  <% end %>
  <div class='clear'></div>
</div>

<br />

<% @shipping_zones.each do |shipping_zone| %>
  <%= render 'shipping_zone', shipping_zone: shipping_zone %>
<% end %>
