<% content_for :page_title do %>
  nimbleSHOP Guides
<% end %>

<p>
  <h3>Getting started</h3>
  <ul>
    <li>
      <a href="getting_started.html">Getting Started with nimbleSHOP</a>
    </li>
    <li>
      <a href="why_postgresql.html">Why postgresql</a>
    </li>
  </ul>
</p>

<p>
  <h3>Payment methods</h3>
  <ul>
    <li>
      <a href="payment_methods.html">Basics</a>
    </li>
    <li>
      <a href="payment_methods_authorize_net.html">Authorize.net</a>
    </li>
    <li>
      <a href="payment_methods_paypal_website_payments_standard.html">Paypal</a>
    </li>
  </ul>
</p>

<p>
  <h3>Deployment</h3>
  <ul>
    <li> <a href="heroku.html">Heroku</a> </li>
    <li> <a href="ssl.html">Setting up SSL</a> </li>
    <li> <a href="tools.html">Tools</a> </li>
  </ul>
</p>

<p>
  <h3>Misc</h3>
  <ul>
    <li> <a href="18n.html"> Internationalization and Localization </a> </li>
    <li> <a href="taxrules.html">e-commerce tax rules</a> </li>
  </ul>
</p>

<style>
  #mainCol dd, #subCol dd {
    border-bottom: 0;
  }
</style>
