<div class='span1'>&nbsp;</div>

<div class='span4'>
  <div class='well'>
    <h3>
      Order summary
      <small>
        <%= link_to 'Edit', cart_path, id: 'edit_cart' %>
      </small>
    </h3>

    <br />

    <%= render 'shared/order_summary_line_items' %>

    <%= render 'shared/order_summary_shipping_address' %>

    <%= render 'shared/order_summary_shipping_method' %>

  </div>

</div>
