<h1>Thank you. Your order was successfully processed</h1>

<p>
  <a href='/reset'>Reset cart</a>.
</p>

<h3>Why I am being asked to reset cart</h3>
<p>
  When a user makes payment to paypal then paypal instantly displays that payment has been received. However it does not mean that paypal has processed the payment. Paypal processes the received payment in the background and when payment is successfully received then paypal POSTs  the payment information using what paypal calle "Instant Payment Notification (IPN)". Most of the time IPN is sent in couple of seconds but sometimes it could take a few minutes. When IPN is received then cart is reset in production and staging mode.
</p>

<p>
  Since the development mode runs at <tt>localhost:3000</tt> there is  no way for IPN to reset the cart. And hence the app is asking you to reset the cart. As mentioned earlier in staging or in production mode user will not see this request to reset the cart.
</p>
