<div class='row'>
  <div class='span10'>
<table class='zebra-striped bordered-table'>
  <thead>
    <tr>
      <th colspan="2" class="start">Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <%= render 'line_item', line_item: line_item %>
    <% end %>

    <% if @order.shipping_method %>
      <tr>
        <td>&nbsp;</td>
        <td>
          Shippping
        </td>
        <td> <%= number_to_currency(@order.shipping_method.shipping_cost) %> </td>
        <td>&nbsp;</td>
        <td><%= number_to_currency(@order.shipping_method.shipping_cost) %> </td>
      </tr>
    <% end %>

    <tr>
      <td>&nbsp;</td>
      <td>Total</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td> <strong> <%= number_to_currency(@order.price_with_shipping) %> </strong> </td>
    </tr>
  </tbody>
</table>
</div>
</div>
