<div class='row'>
  <div class='span9'>
    <table>
      <% @products.in_groups_of(3) do |group| %>
        <tr>
          <% group.each do |product| %>
            <td>
              <% if product.blank? %>
                &nbsp;
              <% else %>
                <ul class="media-grid">
                  <li>
                    <%= link_to(image_tag(product.picture.picture_url(:medium)),product.url) %>
                  </li>
                </ul>
                    <%= number_to_currency(product.price) %>
                    <%= link_to(truncate(product.name, length: 30), product, title: product.name) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
