<% if current_order.shipping_method %>
  <div class='row'>
    <div class='span4'>
      <h3>
        Shipping method
        <small>
          <%= link_to 'change', new_checkout_shipping_method_path, id: 'edit_shipping_method', title: 'edit shipping method', class: 'light-link' %>
        </small>
      </h3>
      <address class='shipping-method'>
        <%= current_order.shipping_method.name %>
        ( <%= number_to_currency(current_order.shipping_method.shipping_price) %> )
      </address>
    </div>
  </div>
<% end %>
