<% page_title 'Make payment' %>

<div class='row'>
  <div class='span7'>
    <div class='well'>
      <div class='control-group'>
        <div class='controls'>
          <% PaymentMethod.order('name desc').each do |payment_method| %>
            <%= self.send("nimbleshop_#{payment_method.demodulized_underscore}_payment_form", current_order) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'nimbleshop_simply/shared/order_summary' %>
</div>
