<ul class='thumbnails'>
  <li class='span1'>&nbsp;</li>
  <li class='span3'>
    <p>
      <%= link_to(product_main_picture(product, :medium_plus), product, class: 'thumbnail') %>
    </p>

    <p class='product'>
      <span class='price'><%= number_to_currency(product.price) %></span>
      <br />
      <%= link_to(truncate(product.name, length: 30), product, title: product.name) %>
    </p>
  </li>
</ul>
