<div class='row'>
  <div class='span1'>&nbsp;</div>
  <div class='span13'>
    <h4><%= link_to "â† Back to #{@product.name}", @product, id: 'product-title' %></h4>
  </div>
</div>

<br />

<div class='row'>
  <div class='span1'>&nbsp;</div>
  <div class='span11'>
    <ul class="thumbnails">
      <% @product.pictures.each do |picture| %>
        <li> <%= image_tag picture.picture_url(:large_plus), alt: @product.name %> </li>
      <% end %>
    </ul>
  </div>
</div>
