<div class='page-header'>
  <h1>
    Setup payment method
    <small>
      to accept credit cards and other forms of payment
    </small>
  </h1>
</div>

<ul class="nav nav-tabs">
  <%= build_payment_method_tabs %>
</ul>
