<br />

<div class='well'>
  <h2>About us</h2>

  <p>
    <strong>nimbleShop</strong> is a free and open source e-commerce framework based on Ruby on Rails.
  </p>

  <p>
    You can follow <%= link_to 'nimbleShop on twitter', 'http://twitter.com/nimbleshop' %> .
  </p>

</div>
