<div class="well" style="margin-top:20px;text-align: center;">
  <h4>  unable to complete your order (no shipping method available)</h4>
  <%= link_to "Edit Shipping Address", [:edit, current_order]%>
</div>
