<% if !Rails.env.production? && authorize_net_enabled?  %>
  <div id='authorizenetsandboxhelp' class='modal hide fade'>

    <div class='modal-header'>
      <%= link_to 'x', '#', class: 'close', 'data-dismiss' => 'modal' %>
      <h3>Authorize.net sandbox information</h3>
    </div>
    <div class="modal-body">
      <p> Here are the rules for paying using Authorize.net. </p>
      <ul>
        <li> Expiration date must be set to the present day or later. </li>
        <li> Security code for American express must be 4 digits. For all others use 3 digits. </li>
      </ul>

      <br />

      <p>Here are the valid credit card numbers as prescribed by Authorize.net .</p>

      <ul>
        <li> Visa: 4007000000027 </li>
        <li> Second Visa card: 4012888818888 </li>
        <li> American Express: 370000000000002 </li>
        <li> Discover: 6011000000000012 </li>
        <li> JCB: 3088000000000017 </li>
        <li> Diners Club/ Carte Blanche: 38000000000006 </li>
      </ul>
    </div>
    <div class="modal-footer">
      <p>
            <%= link_to 'More information', '' %> .
            <small>
              <strong>
              This message never appears in production environment .
              </strong>
            </small>
          </p>
    </div>
  </div>
<% end %>
