<%= f.fields_for :custom_field_answers, answer do | field | %>
  <div class="clearfix">
    <%= field.label :value, answer.custom_field.name %>
    <%= field.hidden_field :custom_field_id %>
    <div class="input">
      <%= field.text_field :value, class: 'xlarge focus', size: 30 %>
    </div>
  </div><!-- /clearfix -->
<% end %>
