<%= render '/admin/payment_methods/tabs' %>
<%= image_tag('paypal_logo.png', width: '100') %>

<h3>
  Configuration info
  <small>
    <%= link_to 'Edit', edit_admin_paymentmethod_paypalwebsite_payments_standard_path %>
  </small>
</h3>

<%= render '/admin/paymentmethod/show_attributes' %>

