<%= render '/admin/payment_methods/tabs' %>
<%= image_tag('authorize_net_logo.png') %>

<h3>
  Configuration info
  <small><%= link_to 'Edit', edit_admin_paymentmethod_authorizedotnet_path %></small>
</h3>

<%= render '/admin/paymentmethod/show_attributes' %>
