<%= render '/admin/payment_methods/tabs' %>

<h3>
  Configuration info
  <small><%= link_to 'Edit', edit_admin_paymentmethod_authorizedotnet_path %></small>
</h3>

<br />

<table class="zebra-striped bordered-table">
  <tr>
    <th>
      Login id:
    </th>
    <td>
      <%= @payment_method.data[:login_id] %>
    </td>
  </tr>
  <tr>
    <th>
      Transaction key:
    </th>
    <td>
      <%= @payment_method.data[:transaction_key] %>
    </td>
  </tr>
</table>
