<div class='well'>
  <div>
    <div style='float:left;'>
      <%= image_tag('authorize_net_logo.png') %>
    </div>
    <div style='float:left;margin-top:25px;margin-left: 10px;'>
      <h3>
        <%= link_to 'Edit Configuration Info', edit_admin_paymentmethod_authorizedotnet_path %>
      </h3>
    </div>
    <div style='clear:both;'></div>
  </div>

  <%= render '/admin/paymentmethod/show_attributes' %>
</div>
