#complete p.button {
  margin: 10px 0 10px 0;
}

.thumbnails .product .price {
  color: #999;
}

/*
 * overrite bootstrap
 */

.navbar-inner {
  background-color: #373d48;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #D8DDE1;
}

.navbar .nav > li > a:hover {
  color: #fff;
}

.cart_link a{
	color: #999;
	line-height: 16px;
	display: block;
	margin-top: 10px;
}

.cart_link:hover a{
	color: #005580;
}

.cart_link a:before{
	content: "";
	display: inline;
	width: 16px;
	height: 16px;
	background-color: #FFF;
	float: left;
	background: url("/assets/cart.png") no-repeat transparent;
	margin-right: 5px;
}

.cart_link:hover a:before{
	background: url("/assets/cart_hover.png") no-repeat transparent;
}


#site-name {
  color: #999;
  font-weight: bold;
}

a#site-name:hover {
  text-decoration: underline;
}

.navbar .nav > li > a {
  text-shadow: none;
}


.navbar .navbar-text a:hover {
  color: #08c;
}

#product-description-content p {
  font-size: 14px;
  color: #818181;
  line-height: 22px;
}


table#product-thumbnails a {
  margin: 6px;
}

#products-show {
  h2#product-price {
    font-family: 'Arial';
    margin-bottom: 10px;
  }

  h4#product-description {
    margin-top: 12px;
    maring-bottom: 3px;
  }
}


table tr td .lhs {
  float:left;
  width:200px;
}
table tr td .rhs {
  float:right;
  width: 100px;
}


#products-index table tr td, #product_groups-show table tr td {
  vertical-align: top;

  ul.thumbnails a.thumbnail {
    border: 0;
  }

  ul.thumbnails p.product {
    margin-left: 18px;
  }

  li.product_info {
    border:1px solid #ddd;
  }

}


.powered_by {
  color: #ccc;
  font-style: italic;

  a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
  }

  a:hover {
    color: #888;
    text-decoration: underline;
    font-weight: bold;
  }
}

/*#products-index .thumbnails > li{*/
	/*margin-right: 30px;*/
/*}*/

/*Thumbnails on main page
----------------------------------------------------------------------------------------------------------------------*/


.thumbnail_container{
	width: 200px;
	margin: 0 auto;
	border: 1px solid rgb(221, 221, 221);
	max-width: 100%;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.thumbnail_container:hover {
  border: 1px solid rgb(0, 136, 204);
}

.thumbnail_container .price{
  color: #999;
}

.thumbnail_container .price, .thumbnail_container .product_name{
  margin-left: 20px;
}

.thumbnail_container > a{
  display: block;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 5px 5px 2px;
  margin-bottom: 5px;
}

.delete{
	display: inline-block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	background: url("/assets/trash.gif") no-repeat transparent;
	vertical-align: middle;
}


/*Responsibility classes from Bootstrap
----------------------------------------------------------------------------------------------------------------------*/
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none;
}
.visible-tablet {
  display: none;
}
.visible-desktop {
  display: block;
}
.hidden-phone {
  display: block;
}
.hidden-tablet {
  display: block;
}
.hidden-desktop {
  display: none;
}
@media (max-width: 767px) {
  .visible-phone {
    display: block;
  }
  .hidden-phone {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .visible-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: block;
  }
  .hidden-tablet {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .visible-desktop {
    display: none;
  }
}

/*Mobile cart
----------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 979px) {
	body#carts-show{
		padding-top: 0px;
	}
}

.mobile_item_list >h3{
  margin: 0px;

}

.cart_item_mobile{
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
	margin-top: 10px;
}

div.mobile_item_list div:first-of-type{
	margin-top: 0;
}

div.mobile_item_list div:last-of-type{
  border-bottom: none;
}

.cart_item_mobile .remove-item{
	background-image: none;
	width: auto;
	height: auto;
	text-indent: 0;
	display: block;
}

.mobile_item_info{
	margin-bottom: 5px;
}

.mobile_item_info h4{
	font-weight: normal;
}

.mobile_item_info .quantity-field{
	width: 25px;
	margin-top: 5px;
}

.mobile_item_info h4 strong:before, .mobile_item_info h3 strong:before{
  content: " "
}

.total{
	padding-top: 5px;
	margin-bottom: 5px;
}

.cart_item_mobile .total{
  border-top: none;
	padding-top: 0;
	margin-bottom: 10px;
}

.total h4{
	font-size: 16px;
}

/*Sidebar style
----------------------------------------------------------------------------------------------------------------------*/

.sidebar_block{
  border-radius: 5px;
	border: 1px solid #DDDDDD;
	padding: 10px;
	background-color: #fafafa;
	margin-bottom: 20px;
}

.sidebar_block h3{
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 16px;
}

.sidebar_block ul{
	margin-left: 10px;
}

.sidebar_block li{
	margin-bottom: 3px;
}

/*Cart
----------------------------------------------------------------------------------------------------------------------*/


#cartform .cart_header{
	font-weight: bold;
}

#cartform .quantity-field{
	width: 25px;
}

#cartform hr{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 1px;
	border-color:	#DDDDDD -moz-use-text-color #FFFFFF;
}

#cartform .cart_total .text{
	text-align: right;
	font-size: 16px;
}

#cartform .product_pictures img{
	width: 60px;
	height: 60px;
}

#cartform .description strong

#cartform .description strong:empty {
	display: none;
}


#cartform .cart_total .cost{
	font-size: 16px;
}

@media (max-width: 496px) {
	#cartform [class*="span"]{
		margin-bottom: 10px;
	}
	#cartform hr{
		margin-bottom: 10px;
	}
	#cartform h4{
		margin-bottom: 5px;
	}
	
	.item_name{
		font-size: 16px;
	}

	.remove-item{
		background-image: none;
		width: auto;
		height: auto;
		text-indent: 0;
		display: block;
	}
}

/*Item page
----------------------------------------------------------------------------------------------------------------------*/

.item_pics li{
	margin-left: 0;
	max-width: 100%;
}

/*Modal
----------------------------------------------------------------------------------------------------------------------*/
.modal_images{
	overflow: hidden;
}

.modal_cvv_image{
}


/* make the credit card form look nice */
.nimbleshop_authorizedotnet_umbrella {
  margin-left: -140px;
}

