.ns-page-title {
  float:left;
}

.new-action {
  float: right;
}

.clear {
  clear: both;
}

.payment-method-engine-well {
  border: 1px solid #999;
  background-color: #eee;
  padding: 10px;
}

.payment-method-engine-well h2 {
  float:left;
}
.payment-method-engine-well img {
  float:right;
}

.nimbleshop-payment-method-edit {
  float:left; 
  margin-left:10px;
  margin-right:10px;
}

.nimbleshop-payment-method-delete {
  float:left; 
  margin-left:6px;
  margin-right:10px;
}

.navbar .nav > li > a.go-to-shop {
  color: #fff;
  font-weight: bold;
}

.navbar .nav > li > a.go-to-shop:hover {
  text-decoration:underline;
}
