.clearfix a.help {
  float: left;
  padding-top: 6px;
  padding-left: 6px;
  color: #969696;
  font-size: 13px;
  line-height: 18px;
}

a.help {
  color: #969696;
  font-size: 13px;
  padding: 2px 7px;
  background: #ddd;
}

/*
 * Adding a bit of padding because having a help symbol make the things seem closer
 */
form .input {
  padding-left: 8px;
}

.boxy {
  background: #fafafa;
  border: 1px solid #eaeaea;
  padding: 7px;
}


.input_variant {
  width: 140px;
}


.variation1_col, .variation2_col, .variation3_col, .variation4_col, .variation5_col {
  float: left;
  margin-right: 5px;
}


.add-a-variant {
  margin-top: 10px;
}

.error-variant {
  border: 1px solid red;
}
