#complete p.button {
  margin: 10px 0 10px 0;
}

.thumbnails .product .price {
  color: #999;
}

/*
 * overrite bootstrap
 */

.navbar-inner {
  background: #f0f1f4;
  background-color: #f0f1f4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #D8DDE1;
}

.navbar .nav > li > a:hover {
  color: #005580;
}


#site-name {
  color: #005580;
  font-weight: bold;
}

a#site-name:hover {
  text-decoration: underline;
}

.navbar .nav > li > a {
  text-shadow: none;
}


.navbar .navbar-text a:hover {
  color: #08c;
}

#product-description-content p {
  font-size: 14px;
  color: #818181;
  line-height: 22px;
}


table#product-thumbnails a {
  margin: 6px;
}

#products-show {
  h2#product-price {
    font-family: 'Arial';
    margin-bottom: 10px;
  }

  h4#product-description {
    margin-top: 12px;
    maring-bottom: 3px;
  }
}
