<h2><%= link_group.name %></h2>
<%= button_to "destroy", [:admin, link_group], :method => :delete %>
<%= link_to '#', :id => link_group.permalink, :class => 'edit-link-group' do %>
  <button class="btn"><%= t(:edit) %></button>
<% end %>