<div class='span4 offset1' style='margin-top:5px;'>
  <div class='well' id='order-summary'>
    <h3>
      Order summary
      <small>
        <%= link_to 'Edit', cart_path, id: 'edit_cart', title: 'edit cart' %>
      </small>
    </h3>

    <br />

    <%= render 'shared/order_summary_line_items' %>
    <%= render 'shared/order_summary_shipping_address' %>
    <%= render 'shared/order_summary_shipping_method' %>

  </div>

</div>
