<% @payment_method.preferences.each do |key, value| %>
  <div class="clearfix">
    <%= label_tag key, key %>
    <div class="input">
      <%= text_field_tag key, value, 'class' => 'xlarge' %>
    </div>
  </div><!-- /clearfix -->
<% end %>

