<% @payment_method.settings.each do |key, value| %>
  <div class="control-group">
    <%= label_tag key, nil, class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag key, value, class: 'span6' %>
    </div>
  </div>
<% end %>
