<br />

<table class="table table-striped">
  <% @payment_method.settings.each do |key, value| %>
    <tr>
      <td> <%= key.to_s.humanize %> : </td>
      <td> <%= value %> </td>
    </tr>
  <% end %>
</table>
