<br />

<table class="zebra-striped bordered-table">
  <% @payment_method.preferences.each do |key, value| %>
    <tr>
      <th> <%= key %> </th>
      <td> <%= value %> </td>
    </tr>
  <% end %>
</table>
