<div class='well nimbleshop-payment-method-form-well' id='nimbleshop-cod-form-well' style='display:none;'>

  <%= form_for NimbleshopSplitable::Splitable.first,  url: '/nimbleshop_cod/cod',
                                                      remote: true,
                                                      html: { method: 'put',
                                                              id: 'nimbleshop-cod-form',
                                                              class: 'nimbleshop-payment-method-form form-horizontal'} do |f| %>

    <fieldset>
      <div class="control-group">
        <div class="controls">
          <label class='checkbox'>
            <%= f.check_box :mode, {}, 'test', 'production' %> Enable test mode
          </label>
        </div>
      </div>

    </fieldset>

    <div class="form-actions">
      <%= f.submit('Submit', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to t(:cancel), nimbleshop_splitable.splitable_path, class: 'cancel btn' %>
    </div>
  <% end %>
</div>
